html {
    font-family: Merriweather;
    font-size: 15px;
}

img {
    border-radius: 10px 10px 10px 10px
}

div {
    word-wrap: break-word: pretty;
    margin: 12px;
}

p {
    word-wrap: break-word: pretty;
    margin: 12px;
}

h1 {
    font-size: 3rem; 
    margin: 10px;
}

h2 {
    font-size: 2rem; 
    margin: 10px;
}

h3 {
    font-size: 2rem; 
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    color: #464A46;
    background-color: #3C565B;
}

header {
    background-color: #3C565B;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.grid {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.column {    
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

section {
    background-color: #eef6f6;
    color: #3C565B;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3C565B;
    color: #ffffff;
}

.container {
    position: relative;
    width: auto;
}

.overlay {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #eef6f6;
}

.container:hover, .overlay:hover {
    opacity: 0.7;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.5s; /* Add transition on hover */
  padding: 20px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: #464A46; 
  border-radius: 0 10px 10px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 210px;
  background-color: #B3D9D9;
}

#testimonials {
  top: 270px;
  background-color: #B3D9D9; /* Blue */
}

#cv {
  top: 330px;
  background-color: #B3D9D9; /* Red */
}

#contact {
  top: 390px;
  background-color: #B3D9D9 /* Light Black */
}


