body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}

<style>
    section { border:1px solid red; padding:10px; overflow:hidden; }
    section > section { float:left; }
    .indent-1 { padding-left:120px; }
</style>

header {
    background-color: #9EDB88;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

section {
    background-color: #F5FFF6;
    margin: 20px;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #9EDB88;
    color: #ffffff;
}
