html {
    font-family: Merriweather;
    font-size: 20px;
}

h1 {
  font-size: 4rem; /* 2.5 * 16 = 40px */
}

h2 {
  font-size: 3rem; /* 1.875 * 16 = 30px */
}

p {
  font-size: 2rem; /* 1 * 16 = 16px */
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #9EDB88;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

section {
    background-color: #F5FFF6;
    margin: 10px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 12px;
    background-color: #9EDB88;
    color: #ffffff;
}
