html {
    font-family: Merriweather;
    font-size: 15px;
}

div {
    word-wrap: break-word: pretty;
    margin: 10px;
}

p {
    word-wrap: break-word: pretty;
    margin: 10px;
}

h1 {
    font-size: 3rem; 
    margin: 10px;
}

h2 {
    font-size: 2rem; 
    margin: 10px;
}

h3 {
    font-size: 2rem; 
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    color: #464A46;
    background-color: #3C565B;
}

header {
    background-color: #3C565B;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.grid {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.column {    
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

section {
    background-color: #eef6f6;
    color: #3C565B;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3C565B;
    color: #ffffff;
}

.container {
    position: relative;
    width: auto;
}

.overlay {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #eef6f6;
}

.container:hover, .overlay:hover {
    opacity: 0.7;
}


