html {
    font-family: Merriweather;
    font-size: 15px;
}

div {
    word-wrap: break-word;
}

p {
    word-wrap: break-word;
}

h1 {
  font-size: 3rem; 
}

h2 {
  font-size: 2rem; 
}

body {
    margin: 0;
    padding: 0;
    color: #464A46;
}

header {
    background-color: #093B09;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.column {
    float: left;
    width: 33%;
    margin: 5px;
}

.row {
    content: "";
    display: table;
    clear: both;
    margin: 5px;
}

section {
    background-color: #F5FFF6;
    color: #464A46;
    margin: 0;
    padding: 15px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #093B09;
    color: #ffffff;
}
