html {
    font-family: Merriweather;
    font-size: 20px;
}

h1 {
  font-size: 5rem; 
}

h2 {
  font-size: 3rem; 
}

p {
  font-size: 2rem; 
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #9EDB88;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

section {
    background-color: #F5FFF6;
    margin: 10px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 12px;
    background-color: #9EDB88;
    color: #ffffff;
}
