html {
    font-family: Merriweather;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    font-size: 35px;
    background-color: #9EDB88;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

section {
    background-color: #F5FFF6;
    margin: 10px;
    padding: 10px;
}

footer {
    font-size: 11px;
    text-align: center;
    padding: 10px;
    background-color: #9EDB88;
    color: #ffffff;
}
