html {
    font-family: Merriweather;
    font-size: 15px;
}

div {
    word-wrap: break-word;
    margin: 10px;
}

p {
    word-wrap: break-word;
    margin: 10px;
}

h1 {
    font-size: 3rem; 
    margin: 10px;
}

h2 {
    font-size: 2rem; 
    margin: 10px;
}

h3 {
    font-size: 2rem; 
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    color: #464A46;
    background-color: #B3D9D9;
}

header {
    background-color: #3C565B;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.grid {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.column {    
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

section {
    background-color: ##ffffff;
    opacity: 90%;
    color: #3C565B;
    margin: 10px;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3C565B;
    color: #ffffff;
}
