body {
    font-family: Merriweather, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: Merriweather, sans-serif;
    background-color: #9EDB88;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

section {
    font-family: Merriweather, sans-serif;
    background-color: #F5FFF6;
    margin: 20px;
    padding: 20px;
}

footer {
    font-family: Merriweather, sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #9EDB88;
    color: #ffffff;
}
