/* style code for 'about tutoring' subpage */

html {
    font-family: Merriweather;
    font-size: 15px;
}

div {
    word-wrap: normal: pretty;
    margin: 12px;
}

p {
    word-wrap: normal: pretty;
    margin: 12px;
}

h1 {
    font-size: 3rem; 
    margin: 10px;
}

h2 {
    font-size: 2rem; 
    margin: 10px;
}

h3 {
    font-size: 2rem; 
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    color: #464A46;
    background-color: rgba(60, 86, 91, 1);
    background-image: url("IMG_0433.JPG");
    /*background-blend-mode:luminosity;*/
    background-size: cover;
}

header {
    background-color: #3C565B;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
}

a {
    text-decoration: none;
    color: none;
}    

.grid {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.column {    
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

section {
    background-color: #eef6f6;
    color: #3C565B;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px 10px 10px 10px;
}

footer {
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #3C565B;
    color: #ffffff;
    text-decoration: none;
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
}

#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    z-index: 1;
    left: -160px; /* Position them outside of the screen */
    transition: 0.5s; /* Add transition on hover */
    padding: 20px; 
    width: 150px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: #B3D9D9; 
    border-radius: 0 10px 10px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
    color: #464A46; 
    background-color: #B3D9D9;
}

/* The about link: 205px from the top with a green background */
#home {
  top: 205px;
  background-color: #3C565B;
}

#about {
  top: 275px;
  background-color: #B3D9D9; 
}

#testimonials {
  top: 345px;
  background-color: #B3D9D9; 
}

#cv {
  top: 415px;
  background-color: #B3D9D9 
}

/* ENQUIRY FORM */

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    font-family: Merriweather;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    font-family: Merriweather;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



